/* Styling for smaller screens */
@media only screen and (max-width: 599px) {

    /* Body styles */
    html,
    body {
      font-family: sans-serif;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100vw;
      background-color: #f4f5fa;
      overflow-x: hidden;
    }
  
  
    /* Header styles with background image at the top*/
    .header {
      background-image: url("assets/brooke-lark-nBtmglfY0HU-unsplash.png");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position-y: -90px;
      width: 100%;
      min-height: 360px;
      border-radius: 0px 0px 50px 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    /* Container of back and love button */
    .header_buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      top: 12%;
      position: absolute;
      width: 80%;
  
    }
  
    /* Header Green image style*/
    .header_img01 {
      transform: translateY(-15%);
    }
  
    /* Back button div*/
    .back_button {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: white;
      box-shadow: 0px 4px 8px 2px rgba(78, 78, 78, 0.1);
    }
  
    /* Back button image*/
    .back_button img {
      display: block;
      width: 20px;
      height: 20px;
      margin: 18px auto;
    }
  
    /* Love button div*/
    .love_button {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: white;
      box-shadow: 0px 4px 8px 2px rgba(78, 78, 78, 0.1);
    }
  
    /* Love button image*/
    .love_button img {
      display: block;
      width: 25px;
      height: 25px;
      margin: 12px auto;
    }
  
    
  
    /* Header image styles */
    h2 {
      text-align: center;
      margin-bottom: 5px;
    }
  
    /* Changing h4 default style */
    h4 {
      margin-block-start: 15px;
      margin-block-end: 15px;
    }
  
    /* Sub information styles */
    .sub_info {
      text-align: center;
      font-size: 10px;
    }
    
  
    /* All the cards common styles */
    .container {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px;
      padding-top: 0px;
      padding-bottom: 10px;
      margin-bottom: 10px;
      margin-top: 10px;
      border: none;
      border-radius: 15px;
      box-sizing: border-box;
      background-color: white;
      box-shadow: 0px 4px 8px 2px rgba(78, 78, 78, 0.1);
    }
  
    /* Nutritional information heading styles */
    .nutrition_info h4 {
      font-size: 16px;
      text-align: center;
      font-weight: normal;
      color: #8a5b5b;
    }
  
    /* Common styles for inside card info */
    .info_row {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  
    /* Common styles for inside card info text */
    .info_row p {
      text-align: center;
      font-size: 12px;
      color: #b88787;
    }
  
    /* Nutritions numbers styles */
    .nutritions span {
      font-size: 22px;
      font-weight: bolder;
      color: #01010f;
    }
  
    /* Nutritions first number styles */
    .nutritions p:first-child span {
      color: #c44f4f;
    }
  
    /* Ingredients information heading styles */
    .ingredient_info h4 {
      font-size: 20px;
    }
    
    /* Ingredients row styles */
    .ingredients {
      gap: 20px;
    }
  
    /* Ingredients Image styles */
    .ingredients_img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    /* Ingredients Image title styles */
    .ingredients div p {
      color: #01010f;
    }
  
    /* Ingredients First Image adjusting position */
    .ingredients div:first-child .ingredients_img {
      transform: translateY(4px);
    }
  
    /* preparation information heading styles */
    .preparation_info h4 {
      font-size: 20px;
    }
  
    /* Footer styles */
    .footer {
      position: fixed;
      display: flex;
      flex-direction: row;
      justify-content: center;
      left: 0;
      bottom: 0;
      width: 100%;
      padding-top: 15px;
      padding-bottom: 15px;
      border-radius: 15px 15px 0px 0px;
      background-color: white;
      text-align: center;
      gap: 15px;
    }
  
    /* Footer Home button styles */
    .home {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: #6cc57c;
      width: 20%;
      height: 35px;
      border-radius: 20px;
      gap: 8px;
      padding-left: 15px;
      padding-right: 15px;
    }
  
    /* Footer Home button title styles */
    .home p {
      color: white;
      font-weight: bold;
    }
  
    /* Footer other button styles */
    .other_bottons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 50%;
    }
  
    /* Footer other button image styles */
    .other_bottons img {
      width: 25px;
      height: 25px;
    }
  
  }